[workspace]
members = [
  "v-api",
  "v-api-installer",
  "v-api-permission-derive",
  "v-model",
]
resolver = "2"

[workspace.dependencies]
async-bb8-diesel = { git = "https://github.com/oxidecomputer/async-bb8-diesel" }
async-trait = "0.1.83"
base64 = "0.22"
bb8 = "0.8.6"
chrono = "0.4.38"
cookie = { version = "0.18.1" }
crc32c = "0.6.8"
diesel = { version = "2.2.4", features = ["postgres"] }
diesel_migrations = { version = "2.2.0" }
dropshot = { version = "0.13.0" }
google-cloudkms1 = "6.0.0"
heck = "0.5.0"
hex = "0.4.3"
http = "1"
http-body-util = "0.1.2"
hyper = "1.5.0"
jsonwebtoken = "9.3.0"
mockall = "0.13.0"
newtype-uuid = { version = "1.1.3", features = ["schemars08", "serde", "v4"] }
oauth2 = { version = "4.4.2", default-features = false, features = ["rustls-tls"] }
partial-struct = { git = "https://github.com/oxidecomputer/partial-struct" }
proc-macro2 = "1"
quote = "1"
rand = "0.8.5"
rand_core = "0.6"
reqwest = { version = "0.12.9", default-features = false, features = ["json", "stream"] }
rsa = "0.9.6"
schemars = { version = "0.8.21", features = ["url"] }
secrecy = "0.10.3"
serde = "1.0.214"
serde_json = "1"
serde_urlencoded = "0.7.1"
sha2 = "0.10.8"
syn = "2"
tap = "1.0.1"
thiserror = "1.0.69"
tokio = "1.41.1"
toml = "0.8.19"
tracing = "0.1.40"
url = "2.5.3"
uuid = "1.11.0"
valuable = "0.1.0"
yup-oauth2 = "11.0.0"
