[workspace]
members = [
  "v-api",
  "v-api-installer",
  "v-api-permission-derive",
  "v-model",
]
resolver = "2"

[workspace.dependencies]
async-bb8-diesel = { git = "https://github.com/oxidecomputer/async-bb8-diesel" }
async-trait = "0.1.80"
base64 = "0.22"
bb8 = "0.8.5"
chrono = "0.4.38"
cookie = { version = "0.18.1" }
crc32c = "0.6.8"
diesel = { version = "2.2.1", features = ["postgres"] }
diesel_migrations = { version = "2.2.0" }
dropshot = "0.10.1"
google-cloudkms1 = { git = "https://github.com/Byron/google-apis-rs.git", ref = "ce47a46ca4e80dfbb2ead94037169bc5257c306e" }
heck = "0.5.0"
hex = "0.4.3"
http = "0.2.12"
hyper = "0.14.28"
hyper-rustls = "0.24.2"
jsonwebtoken = "9.3.0"
mockall = "0.12.1"
newtype-uuid = { version = "1.1.0", features = ["schemars08", "serde", "v4"] }
oauth2 = "4.4.2"
partial-struct = { git = "https://github.com/oxidecomputer/partial-struct" }
proc-macro2 = "1"
quote = "1"
rand = "0.8.5"
rand_core = "0.6"
reqwest = { version = "0.11", default-features = false, features = ["json", "stream"] }
rsa = "0.9.6"
schemars = "0.8.21"
secrecy = "0.8.0"
serde = "1.0.202"
serde_json = "1"
serde_urlencoded = "0.7.1"
sha2 = "0.10.8"
syn = "2"
tap = "1.0.1"
thiserror = "1.0.61"
tokio = "1.37.0"
toml = "0.8.14"
tracing = "0.1.40"
uuid = "1.9.1"
valuable = "0.1.0"
yup-oauth2 = "9.0.0"
