[workspace]
members = [
  "v-api",
  "v-api-installer", "v-api-permission-derive",
  "v-model",
]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.81"
async-bb8-diesel = { git = "https://github.com/oxidecomputer/async-bb8-diesel" }
async-trait = "0.1.79"
base64 = "0.21.7"
bb8 = "0.8.3"
chrono = "0.4.31"
clap = { version = "4.4.16", features = ["derive", "string", "env"] }
config = { version = "0.13.4", features = ["toml"] }
cookie = { version = "0.18.1" }
crc32c = "0.6.4"
diesel = { version = "2.1.4", features = ["postgres"] }
diesel_migrations = { version = "2.1.0" }
dirs = "5.0.1"
dropshot = "0.10.0"
dropshot-verified-body = { git = "https://github.com/oxidecomputer/dropshot-verified-body" }
futures = "0.3.30"
google-cloudkms1 = "5.0.3"
google-drive3 = "5.0.3"
google-storage1 = "5.0.3"
heck = "0.5.0"
hex = "0.4.3"
hmac = "0.12.1"
http = "0.2.11"
hyper = "0.14.27"
hyper-rustls = "0.24.2"
itertools = "0.12.0"
jsonwebtoken = "9.2.0"
meilisearch-sdk = { version = "0.24.3", default-features = false, features = ["reqwest-rustls"] }
md-5 = "0.10.6"
mime_guess = "2.0.4"
mockall = "0.12.1"
newline-converter = "0.3.0"
newtype-uuid = { version = "1.0.1", features = ["schemars08", "serde", "v4"] }
oauth2 = "4.4.2"
owo-colors = "3.5.0"
partial-struct = { git = "https://github.com/oxidecomputer/partial-struct" }
proc-macro2 = "1"
progenitor = { git = "https://github.com/oxidecomputer/progenitor", branch = "print-example" }
progenitor-client = { git = "https://github.com/oxidecomputer/progenitor", branch = "print-example" }
quote = "1"
rand = "0.8.5"
rand_core = "0.6"
regex = "1.10.2"
reqwest = { version = "0.11", default-features = false, features = ["json", "stream"] }
reqwest-middleware = "0.2"
reqwest-retry = "0.3.0"
reqwest-tracing = "0.4.6"
ring = "0.17.7"
rsa = "0.9.6"
rustfmt-wrapper = "0.2.1"
schemars = "0.8.16"
secrecy = "0.8.0"
semver = "1.0.20"
serde = "1"
serde_bytes = "0.11.12"
serde_json = "1"
serde_urlencoded = "0.7.1"
sha2 = "0.10.8"
similar = "2.3.0"
slog = "2.7.0"
slog-async = "2.8.0"
syn = "1"
tabwriter = "1.3.0"
tap = "1.0.1"
textwrap = "0.16.0"
thiserror = "1.0.56"
tokio = "1.35.1"
toml = "0.8.8"
tracing = "0.1.40"
tracing-appender = "0.2.3"
tracing-bunyan-formatter = "0.3.9"
tracing-core = "0.1.32"
tracing-slog = { git = "https://github.com/oxidecomputer/tracing-slog" }
tracing-subscriber = "0.3.18"
uuid = "1.6.1"
valuable = "0.1.0"
yup-oauth2 = "8.3.0"
